__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
.env
backend/.env
*.env
aws_session.json
backend/aws_session.json
.git
.gitignore
.github
node_modules/
*.zip
*.bat
figures/
benchmarks/
benchmarks_v2/

