.env
backend/.env
*.env
__pycache__/
pycache/
*.pyc
*.pyo
*.pyd
ml_model/venv/
ml_model/azure_validation/raw/
*.pkl
!backend/models/*.pkl
node_modules/
package-lock.json
.DS_Store
Thumbs.db
.ipynb_checkpoints/
aws_session.json
backend/aws_session.json
models_backup_*.zip
